Repository gleanwork/glean-proxy: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-style-java, java-no-wildcard-imports, bazel-buildifier, gazelle-java, pmd

google-style-java:
  name: google-style-java
  language: script
  entry: tools/format-java.sh

java-no-wildcard-imports:
  name: Java no wildcard imports
  language: script
  entry: tools/java-no-wildcard-imports.sh

bazel-buildifier:
  name: bazel buildifier
  entry: buildifier
  args:
  - -lint=fix
  language: system
  description: Runs buildifier.

gazelle-java:
  name: Generate java rules
  entry: tools/generate_java_rules.py
  language: python
  stages:
  - pre-commit
  pass_filenames: false
  description: Runs gazelle java to generate BUILD files

pmd:
  name: Java PMD
  language: script
  entry: tools/lint/lint.sh
  args:
  - --fail-on-violation

Cleanup legacy proxy
  src/main/java/com/glean/proxy/DynamicHttpFiltersSourceAdapter.java
  src/main/java/com/glean/proxy/filters/LegacyRequestFilter.java
  src/main/java/com/glean/proxy/filters/helpers/OnPremisesProxy.java
  src/test/java/com/glean/proxy/filters/helpers/BUILD.bazel
  src/test/java/com/glean/proxy/filters/helpers/OnPremisesProxyTest.java
Due: google-style-java, java-no-wildcard-imports, bazel-buildifier, pmd

[deps]: downgrade littleproxy to 2.4.0 and update netty
  WORKSPACE
  maven_install.json
  pom.xml
Due: bazel-buildifier

[deps]: downgrade littleproxy to 2.4.0 and update netty (#2)
  WORKSPACE
  maven_install.json
  pom.xml
Due: bazel-buildifier

Add back junit
  pom.xml
Due: none

Added a way to connect to forward proxy from glean proxy
  src/main/java/com/glean/proxy/ChainedProxyConfiguration.java
  src/main/java/com/glean/proxy/ProxyNetworking.java
Due: google-style-java, java-no-wildcard-imports, pmd

minor fix
  src/main/java/com/glean/proxy/ChainedProxyConfiguration.java
Due: google-style-java, java-no-wildcard-imports, pmd

Added way to send requests to forward proxy for enabled customer and data sources (#3)
  src/main/java/com/glean/proxy/ChainedProxyConfiguration.java
  src/main/java/com/glean/proxy/ProxyNetworking.java
Due: google-style-java, java-no-wildcard-imports, pmd

Handled empty string passed for FORWARD_PROXY variables
  src/main/java/com/glean/proxy/ChainedProxyConfiguration.java
Due: google-style-java, java-no-wildcard-imports, pmd

Handled empty string passed for FORWARD_PROXY variables (#4)
  src/main/java/com/glean/proxy/ChainedProxyConfiguration.java
Due: google-style-java, java-no-wildcard-imports, pmd

Working metrics export
  README.md
  WORKSPACE
  maven_install.json
  pom.xml
  src/main/java/com/glean/proxy/BUILD.bazel
  src/main/java/com/glean/proxy/FilterConfiguration.java
  src/main/java/com/glean/proxy/ProxyNetworking.java
  src/main/java/com/glean/proxy/filters/BUILD.bazel
  src/main/java/com/glean/proxy/filters/CompositeFilter.java
  src/main/java/com/glean/proxy/filters/ProxyMetricsFilter.java
  src/main/java/com/glean/proxy/metrics/BUILD.bazel
  src/main/java/com/glean/proxy/metrics/MetricData.java
  src/main/java/com/glean/proxy/metrics/ProxyMetrics.java
  src/main/java/com/glean/proxy/metrics/ProxyMetricsExporter.java
Due: google-style-java, java-no-wildcard-imports, bazel-buildifier, pmd

Use OpenTelemetry
  WORKSPACE
  maven_install.json
  src/main/java/com/glean/proxy/ProxyNetworking.java
  src/main/java/com/glean/proxy/metrics/BUILD.bazel
  src/main/java/com/glean/proxy/metrics/MetricData.java
  src/main/java/com/glean/proxy/metrics/OpenTelemetrySetup.java
  src/main/java/com/glean/proxy/metrics/ProxyMetrics.java
  src/main/java/com/glean/proxy/metrics/ProxyMetricsExporter.java
Due: google-style-java, java-no-wildcard-imports, bazel-buildifier, pmd

Allow /rest and /api request when api allow ingress is true
  src/main/java/com/glean/proxy/filters/LegacyRequestFilter.java
  src/main/java/com/glean/proxy/filters/helpers/OnPremisesProxy.java
Due: google-style-java, java-no-wildcard-imports, pmd

[NI][BugFix] Allow /rest and /api request when api allow ingress is true (#6)
  src/main/java/com/glean/proxy/filters/LegacyRequestFilter.java
  src/main/java/com/glean/proxy/filters/helpers/OnPremisesProxy.java
Due: google-style-java, java-no-wildcard-imports, pmd

Fix bad request response
  src/main/java/com/glean/proxy/filters/LegacyRequestFilter.java
Due: google-style-java, java-no-wildcard-imports, pmd

Path conditions:
  google-style-java: any of: \.java$
  java-no-wildcard-imports: any of: \.java$
  bazel-buildifier: any of: \.bazel$|\.bzl$|WORKSPACE
  gazelle-java: any of: ^java/
  pmd: any of: \.java$
